html, body {
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    height: 100vh;
    text-align: center;
}

#sidebar {
    flex: 1;
    height: 100vh;
    background-color: grey;
    padding-left: 20px;
    padding-right: 20px;
}

#center-column {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 8;
}

#title-container {
    flex: 2;
    padding-bottom: 20px;
    background-color: lightgray;
}

#machine {
    display: flex;
    flex: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}

#machine-save-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

#machine-center-panel {
    flex: 3;
    margin: auto;
}

#machine-edit-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

#footer {
    flex: 1;
    font-style: italic;
    color: rgb(94, 94, 94);
    background-color: lightgray;
}

.key {
    background-color: black;
    min-height: 30px;
    min-width: 30px;
    margin-right: 2px;
    margin-left: 2px;
    display: inline-block;
}

.selected {
    background-color: white;
}

.hidden {
    display: none;
}

.frozen {
    opacity: 0.60;
}

.playing {
    background-color: red;
}

.row {
    text-align: right;
}

.row-label {
    display: inline-block;
    text-align: center;
}

.inst-button {
    display: inline-block;
    background-color: grey;
    padding: 5px;
    margin-right: 2px;
    margin-left: 2px;
}

.current-inst-button {
    font-weight: bold;
}

.listing-active {
    font-weight: bold
}

.soundboard-hidden {
    background-color: grey;
    padding: 10px 10px 10px 10px;
    display: none;
}

.soundboard {
    background-color: grey;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

button, .button {
    background-color: rgb(177, 177, 177);
    color: black;
    border: none;
    padding: 5px 16px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }